# LaTeX stuff
build/
*.aux
*.log

# Emacs junk
auto/
ltxpng/

# Python stuff
*.py[cod]

# Temps
*.*~
*.bak

# impl
*.o
*.d
*.a
*.so
*.dylib
*.x
impl/tsps/relic/relic-target/
impl/tracing/snark/gnark-bench
impl/agg-creds/my-venv/
__pycache__/
